* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.wav binary
*.mp3 binary
*.flac binary
*.m4a binary
*.ogg binary
