asgiref==3.11.1
celery==5.6.3
ctranslate2==4.8.0
Django==6.0.6
django-allauth==65.18.0
django-auditlog==3.4.1
django-axes==8.3.1
django-cors-headers==4.9.0
django-gunicorn==0.1.1
django-resized==1.0.3
django-storages==1.14.6
django-unfold==0.97.0
djangorestframework==3.17.1
faster-whisper==1.2.1
fasttext-wheel==0.9.2
flower==2.0.1
gunicorn==26.0.0
huggingface_hub==1.18.0
librosa==0.11.0
matplotlib==3.10.9
numpy==2.4.6
openai==2.41.1
opensmile==2.6.0
packaging==26.2
pandas==3.0.3
pillow==12.2.0
praat-parselmouth==0.4.7
psutil==7.2.2
psycopg[binary]==3.3.4
python-dateutil==2.9.0.post0
python-magic==0.4.27
redis==6.4.0
requests==2.34.2
ruff==0.15.16
scikit-learn==1.9.0
scipy==1.17.1
soundfile==0.14.0
speechbrain==1.1.0
sqlparse==0.5.5
torch==2.11.0
torchcodec==0.14.0
torchaudio==2.11.0
tzdata==2026.2
weasyprint==69.0
